*{
/* /* /* /* /*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    padding:0;
    margin:0;
    list-style:none;
    box-sizing: border-box;*/
      /*font-size: 11px;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font: 13px/1.5 '微软雅黑', Verdana, Helvetica, Arial, sans-serif;

    color: #4A4A4A ;
    text-align: center;
}
body,html{
	height: 100%;
	overflow: hidden;
}
body{
	background:url(../img/web_login_bg.jpg);
}

.chatroom{
	    margin: 150px auto 0 auto;
    min-height: 70%;
    max-width: 40%;


    background-color:gainsboro;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    border:dashed;
    
}
.wrap{
	background: #fff;
    margin: 20px auto;
    display: block;

    width: 35%;
    height: 60%;
    padding:20px;
    margin-top: 5%;

    border-radius: 5px 5px 5px 5px ;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 20px 50px -10px darkslateblue;
   
}


.view{
	margin-top: 3%;
	margin-left: auto;
    margin-right: auto;
	align-content: center;
	width: 80%;
	height: 70%;
	overflow: scroll;
/*	border: 2px gray solid;
*/
background-color: gainsboro;

      filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;

    border: 1.5px solid deepskyblue;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}





.view2{
	width: 70%;	
	height: 10%;
	background-color: white;
	border: 2px deepskyblue solid;
}

.sendto{
	margin-bottom: 20px;
	border-bottom: 200px;
	padding-bottom: 100px;
}
#btn1{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: #ffffff;
    background-color: #27A9E3;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline:none;
}